body{
    background-color:cadetblue;
    background-blend-mode:difference;
    font-size: 25px;
    font-style:oblique;
    color:cornsilk;
}

#acceptInput{

background-color:lavender;
color: rgb(47, 49, 50);
display: flex;
align-items:center ;
justify-content:center;
}

button{

    border-radius: 5px;
   background-color: rgb(185, 194, 251);
   color: #18191a;
   font-size: 18px;
   transition: background-color 0.25s;
}

button:hoever{
    background-color: rgb(218, 72, 24);
 }
    