#counter{
    font-size: 6em;
    font-family:'Times New Roman', Times, serif;
    display: block;
    text-align: center;
}

#btnContainer{
    background-color:lavender;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.changeCount{
    font-size: 20px;
    padding: 15px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 25px;
    margin-left: 10px;
    border-radius: 10px;
    color: rgb(242, 221, 242);
    background-color:rgb(86, 130, 154) ;
    border-color: rgb(155, 167, 206);
    
}

.changeCount:hover{
    
    background-color: rgb(109, 160, 191);
    transition:background-color 0.25s;
    cursor:pointer ;
}

