body{
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

h1{
    color: rgb(91, 82, 221);
}

form{
    background-color:whitesmoke;
    text-align: center;
    margin: auto;
    max-width: 460px;
    height: 780px;
    padding:auto;
    
}

textbox{

}
#result{
    background-color: aquamarine;
}