body{
    font-family:'Times New Roman', Times, serif ;
    text-align: center;
}
#genBtn{
    background-color: rgba(47, 39, 104, 0.756);
    height: 75px;
    width: 200px;
    padding: 20px;
    color: azure;
    font-size: 2em;
    border-radius: 15px;
    box-shadow:rgba(190, 186, 220, 0.756);
    
}

#genBtn:hover{
    background-color:rgba(89, 81, 149, 0.756)
}

#randomNumber{
    font-size: 5em;
}